.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input, .form-control textarea {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #E56910;
}

.form-control label {
    margin-bottom: 5px;
}

.form-control input, .form-control textarea {
    outline: none;
    background-color: #DCDFE4;
    font: inherit;
    border-radius: 5px;
    padding: 5px;
}

button {
    font: inherit;
    border: 1px solid #E56910;
    color: #E56910;
    background: #38414A;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
}

button:hover,
button:active {
    background-color: #E56910;
    color: #DCDFE4;
}